<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 0px; padding: 0px; background-color: aquamarine">
    <div>
        <form action="/findingContent"  method="POST" style="display: flex; justify-content: center; align-items: center; margin-top: 150px; flex-direction: column;">
            <input type="text" required name="content" placeholder="Enter items to review.." style="font-size: larger;width: 400px;height: 40px; margin-bottom: 25px; padding-left: 15px; border-radius: 8px; border: 0; "/>
            <input type="submit" style="font-size: large; width: 150px; height: 40px;border-radius: 8px; border: 0;" value="submit"></input>
        </form>
    </div>
</body>
</html>